*  {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 20px;
}

a:hover {
  border-bottom: 2px solid white;
}
nav {
  margin-top: 30px;
  padding-left: 20px;
}

.header {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: center;
  padding: 5px;
 }
 .logo {
  display: flex;
  width: 250px;
  margin-right: 30px;
  
 }

.logo span {
  font-weight: bold;
  font-size: 40px;
  text-shadow: 2px 2px 2px red;
}
.name {
  padding-top: 5px;
}

@media screen and (max-width: 768px) {
.header {
  flex-direction: column;
 }

 nav {
  display: flex;
  flex-direction: column;
  width: 170px;
  text-align: left;
  margin-top: 10px;
 }
 a {
  margin: 5px;
 }
 a:hover {
  color: blue;
  border-bottom: none;
 }
 .center span {
  font-size: 30px;
 }
 .two {
  flex-direction: column;
 }
 }

.one {
  width: 100%;
  height: 500px;
  display: table;
  background-image: url(фон3.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.center {
  height: 50%;
  display: table-cell;
  vertical-align: middle;
  color: #1f0660;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px #f6f7c8;
}

.button1 {
  padding: 15px 25px;
  font-size: 20px;
  background-color: #c09b36;
  color: white;
  border: 1px solid #c09b36;
  border-radius: 30px;
}
.button1:hover {
  background-color: white;
  cursor: pointer;
  color: #c09b36;
}

.two {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 50px;



}

.divtwo {
  width: 400px;
 

}

.imgtwo {
  width: 550px;
  height: 450px;
  background-image: url(who-we.jpg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ptwo {
  line-height: 30px;
}
